{{ define "main" }}
<main class="mainPage">
    <div id="map" class="map"></div>
</main>
<div id="popup">
    <h3>Janek Laudan</h3>
    <p>Berlin based Fullstack Software Engineer, Traffic Modelling, Expert</p>
    <p>Currently Employed at:
        <a href="https://vsp.berlin/">TU Berlin</a>
    </p>
    <p>Also involved with
        <a href="https://graphhopper.com/maps2/">Graphhopper Maps</a>
        <a href="https://elemonlabs.com/">Elemonlabs</a>
    </p>
    <p>
        <a href="mailto:j.laudan@mailbox.org">E-Mail</a> <a href="https://github.com/Janekdererste">GitHub</a> <a
            href="https://twitter.com/gtrubel">Twitter</a>
    </p>
</div>

{{ end }}